# Entorno virtual
venv/
env/
ENV/
.venv/

# Archivos de audio generados
*.mp3
*.wav
*.ogg
*.flac
*.m4a

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos de configuración de IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos del sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp
temp/
tmp/

# Archivos de configuración local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de caché
.cache/
.pytest_cache/
.coverage
htmlcov/

# Archivos de respaldo
*.bak
*.backup
*~ 

# Conversores de audio
ffmpeg.exe
ffprobe.exe

# Ignorar todo el contenido de la carpeta 'in' excepto el archivo .gitkeep
in/*
!in/.gitkeep

# Ignorar todo el contenido de la carpeta 'out' excepto el archivo .gitkeep
out/*
!out/.gitkeep

# Ignorar todo el contenido de la carpeta 'models' excepto el archivo .gitkeep
models/*
!models/.gitkeep

# Ignorar todo el contenido de la carpeta 'melodias' excepto el archivo .gitkeep
melodias/*
!melodias/.gitkeep